<h1>Welcome <%= @user.username %> </h1>

<p>Here is some information regarding the current activity in the facility:</p>

<!-- Total Vehicles -->
There are currently <%= @vehicles.count %> Vehicles active in the facility.<br>
There are currently <%= @locations.count %> Locations active in the facility.<br>

<p><a href="/user/logout">Log Out</a></p>