<h3>Create a New Vehicle</h3>
<form action="/vehicles" method="POST">
    <label>Vehicle Vin:</label>
    <input type="text" name="vehicle[vin]"><br>
    <label>Vehicle Model:</label>
    <input type="text" name="vehicle[model]"><br>
    <label>Vehicle Sub-Model:</label>
    <input type="text" name="vehicle[sub_model]"><br>    
    <input type="submit" value="Create New Vehicle">
</form>