<!DOCTYPE html>
# <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
# <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
# <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SinatraProject</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    # <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class ='navbar'>
      <%if current_user %>
      <a href='/logout'>Logout</a>
      <a href='/projects'>Projects</a>
      <a href='/projects/new'>New Project</a>
      <a href="/volunteers/<%= current_user.id %>">Home</a>
      <%end %>
    </div>
  <div class="wrapper">
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>SinatraProject</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
