<h2> Welcome to the Facility Vehicle Tracking Site </h2>
<p> Please Sign Up or Login Below </p>

<nav>
  <% if logged_in? %>
    <a href='/user/account'>User Home</a>
  <% else %>
    <a href="/user/signup">Sign Up</a>
    <a href="/user/login">Login</a>
  <% end %>
</nav>
