<h3>Create a New Location</h3>
<form action="/locations" method="POST">
    <label>Location's Station:</label>
    <input type="text" name="location[station]" placeholder="Station Name"><br>
    <label>Location's Building:</label>
    <input type="text" name="location[building]" placeholder="Location Building"><br>
    <input type="submit" value="Create New Location">
</form>